/* vt323-regular - latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/vt323-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('VT323 Regular'), local('VT323-Regular'),
       url('fonts/vt323-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/vt323-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/vt323-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/vt323-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/vt323-v9-latin-regular.svg#VT323') format('svg'); /* Legacy iOS */
}

html, body {
	text-align: center;	
}


h1 {
    font-family: 'VT323', monospace;
	font-size: 6rem;	
	color: #4d4dff;
	margin:5px;
}

main {
	justify-content: space-around;	
	-webkit-justify-content: space-around;
}

.optionsWrapper{
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	flex-flow: row wrap;
	justify-content: space-around;	
	-webkit-justify-content: space-around;
}

#exploits_405 {
	display:none;
	visibility:hidden;
}

#exploits_455 {
	visibility:visible;
}


#infoWrapper{
	width:100%;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	justify-content: space-around;	
	-webkit-justify-content: space-around;
}

.divExploitOption {
	margin: 1px;
	border-radius: 10px;
	border: 5px solid #000;
	width: 195px;
}

.divMainMenuOption {
	margin: 10px;
	border-radius: 10px;
	border: 5px solid #000;
	width:250px;
}

.divExploitInfo {
	margin: 10px;
	border-radius: 10px;
	border: 5px solid #000;
	width: 95%;
}

.divMenuHeader {
	font-family: 'VT323', monospace;
	font-size: 30px;
	padding: 0px;
	text-align: center;
	background: #f0f0f5;	
	border-radius: 5px;
	border: 1px solid black;
	align:center;	
}

#exploitInfo {
	font-family: 'VT323', monospace;
	font-size: 25px;
	text-align: left;
	margin: 20px;
}

.divMenuBody {
	margin: 10px;
	text-align: center;	
}

.fw_ver {
	font-family: 'VT323', monospace;
	font-size: 30px;
	padding: 10px;
	text-decoration: none;
	color:#ffaaaa;
}

.fw_ver.selected {
	color:#ff0000;
}

.fw_ver:hover {
	color:#ff0000;	
}

label {
	font-family: 'VT323', monospace;
	font-size: 30px;
	padding: 10px;
	text-decoration: none;
	color:#ff0000;
}

footer {
	font-family: 'VT323', monospace;
	font-size: 25px;
	text-align: center;
}

.svg {	
	height: 150px;
	width: 150px;	
}

.svg:hover {	
	fill: #f00;	
}

.nav {	
	height: 100px;
	width: 100px;	
}

.nav:hover {	
	fill: #f00;	
}

select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-user-select: none;
   background-image: url('img/dropdown.png'), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-family: 'VT323', monospace;
   font-size: 25px;
   margin: 20px;
   margin-left: 0px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

input[type=submit] {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-user-select: none;
   background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   border: 1px solid #AAA;
   color: #555;
   font-family: 'VT323', monospace;
   font-size: 25px;
   margin: 20px;
   margin-left: 0px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

@media screen and (max-width: 1024px) {
	h1 {
		font-family: 'VT323', monospace;
		font-size: 2.5rem;	
		color: #4d4dff;		
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-family: 'VT323', monospace;
		font-size: 2.5rem;	
		color: #4d4dff;		
	}
}

